html, body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

* {
    font-family: "Lucida Console", Monaco, monospace;
}

.my-colors {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.my-color {
    height: 20%;
    width: 20%;
}